@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap|Lato');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Manrope;
    color: #656256;
}

h2 {
    font-family: Manrope;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff7733;

}

#logo {
    float: left;
    padding-left: 30px;
    font-size: 36px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu {
    line-height: 75px;
}

ul {
    float: right;
}

#menu li {
    float: left;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #656256;
}

.active {
    border-bottom: 1px solid #656256;
}

#company-image {
    height: 600px;
    width: 100%;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;

    animation-name: company-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#company-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes company-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: Manrope;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(255,119,51,0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
